<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>文章类型</h5>
        </div>
        <div class="ibox-content">
            <!-- 表格 -->
            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <div class="example">
                            <div class="btn-group hidden-xs" id="exampleTableEventsToolbar"
                                 role="group">
                                <button type="button" class="btn  btn-success" id="addButton">
                                    <i class="glyphicon glyphicon-plus"  aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn  btn-warning" id="deleteButton">
                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                            <table id="exampleTableEvents" data-height="400"   >
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 表格结束 -->
    </div>
</div>


<!--文章新增-->
<div class="modal inmodal" id="articleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">新增类型</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <input type="hidden" id="storeType_id" name="storeType_id" >
                    <div class="form-group">
                        <label>类型名称</label>
                        <input type="text" id="storeType_name" name="storeType_name" placeholder="请输入文章类型" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>输入描述</label>
                        <input type="text" id="storeType_describe" name="storeType_describe" placeholder="请输入描述" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-sm" id = "inconButton">点击选择图标</button>
                        <div class="bs-glyphicons">
                            <!--展示所有的图标-->
                            <div class="row fontawesome-icon-list" id="inconModeal" >
                                <div class="fa-hover col-md-3 col-sm-4 "><a href="#code"><i class="fa fa-code"></i> code</a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#internet-explorer"><i class="fa fa-internet-explorer"></i> internet-explorer</a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#commenting-o"><i class="fa fa-commenting-o"></i> commenting-o</a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#balance-scale"><i class="fa fa-balance-scale"></i> balance-scale</a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#hourglass-start"><i class="fa fa-hourglass-1"></i> hourglass-1 <span class="text-muted">(alias)</span></a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#wikipedia-w"><i class="fa fa-wikipedia-w"></i> wikipedia-w</a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#ban"><i class="fa fa-ban"></i> ban</a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#bug"><i class="fa fa-bug"></i> bug</a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#picture-o"><i class="fa fa-photo"></i> photo <span class="text-muted">(alias)</span></a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#paper-plane-o"><i class="fa fa-send-o"></i> send-o <span class="text-muted">(alias)</span></a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#code-fork"><i class="fa fa-code-fork"></i> code-fork</a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#ellipsis-h"><i class="fa fa-ellipsis-h"></i> ellipsis-h</a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#book"><i class="fa fa-book"></i> book</a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#calculator"><i class="fa fa-calculator"></i> calculator</a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#paper-plane"><i class="fa fa-send"></i> send <span class="text-muted">(alias)</span></a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#wifi"><i class="fa fa-wifi"></i> wifi</a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#globe"><i class="fa fa-globe"></i> globe</a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#graduation-cap"><i class="fa fa-graduation-cap"></i> graduation-cap</a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#keyboard-o"><i class="fa fa-keyboard-o"></i> keyboard-o</a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#trophy"><i class="fa fa-trophy"></i> trophy</a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#sun-o"><i class="fa fa-sun-o"></i> sun-o</a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#pie-chart"><i class="fa fa-pie-chart"></i> pie-chart</a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#paper-plane"><i class="fa fa-paper-plane"></i> paper-plane</a></div>
                                <div class="fa-hover col-md-3 col-sm-4"><a href="#rss"><i class="fa fa-rss"></i> rss</a></div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary saveSubmit">保存</button>
            </div>
        </div>
    </div>
</div>

<head th:include="include :: footer"></head>
<script type="text/javascript">
    $(function(){
        //隐藏下拉
        $("#inconModeal").hide();
        //初始化Table
        var oTable = new TableInit();
        oTable.Init();
    });

    let TableInit = function () {
        let header = $("meta[name='_csrf_header']").attr("content");
        let token =$("meta[name='_csrf']").attr("content");
        let oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#exampleTableEvents').bootstrapTable({
                url:ctx+'articleType/showArticleType',//请求后台的URL（*）
                method: 'post',                      //请求方式（*）
                toolbar: '#exampleTableEventsToolbar',  //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortName:"id",
                sortOrder: "desc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                queryParamsType: 'limit',
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber:1,                       //初始化加载第一页，默认第一页
                pageSize: 5,                       //每页的记录行数（*）
                pageList: [10, 15, 20, 50],        //可供选择的每页的行数（*）
                search: true,                       //是否显示表格搜索
                strictSearch: true,
                showColumns: false,                  //是否显示所有的列,即选择列查看
                showRefresh: false,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                //height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle:false,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                iconSize: 'outline',
                contentType: "application/json;charset=utf-8", //解决POST提交问题
                showExport: false,                     //是否显示导出
                buttonsAlign:"right",  //按钮位置
                exportDataType: "selected",              //basic', 'all', 'selected'.
                exportTypes:['excel','txt','json', 'xml'],  //导出文件类型   //'json', 'xml', 'csv', 'txt', 'sql', 'excel'
                Icons:'glyphicon-export',
                ajaxOptions:{
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token)
                    }
                },
                responseHandler:function(res) {
                    return {
                        "total": res.total,//总页数
                        "rows": res.rows   //数据
                    };
                },
                icons: {
                    refresh: 'glyphicon-repeat',
                    toggle: 'glyphicon-list-alt',
                    columns: 'glyphicon-list'
                },
                columns: [
                    {checkbox: true },
                    {
                        title: '序号',
                        field: '',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var pageSize = $('#exampleTableEvents').bootstrapTable('getOptions').pageSize;     //通过table的#id 得到每页多少条
                            var pageNumber = $('#exampleTableEvents').bootstrapTable('getOptions').pageNumber; //通过table的#id 得到当前第几页
                            return pageSize * (pageNumber - 1) + index + 1;    // 返回每条的序号： 每页条数 *（当前页 - 1 ）+ 序号
                        }
                    },
                    {title:'文章类型',field: 'typeName',sortable:true },
                    {title:'图标',field: 'icon',sortable:true,formatter:function (value, row, index) {
                            return [
                                '<i class="'+row.icon+'" style="cursor: pointer;margin-right: 10px"  ></i>'
                            ].join("")

                        }},
                    {title:'描述',field: 'description',sortable:true },
                    {title:'操作',field:"Button",align:"center",formatter:function (value, row, index) {
                            return [
                                '<i class="fa fa-edit editButton" style="cursor: pointer;" ></i>'
                            ].join("")

                        }
                    }

                ],
            });
        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            let temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                pageSize: params.limit,   //页面大小
                pageNumber:this.pageNumber, //页码
                 /*   sortName: params.sort,	//排序列名
                    sortOrder:params.order,	//排序方式*/
                retrieve:params.search,//搜索框参数
            };
            return JSON.stringify(temp);
        };
        return oTableInit;
    }

    //点击新增按钮
    $("#addButton").on("click", function () {
        Initialization();
        $("#articleModal").modal();
    })

    //点击保存按钮
    $(".saveSubmit").on("click", function () {
        let url = ctx+'articleType/saveArticleType';
        let typeName = $("#storeType_name").val();
        if (typeName == null || typeName == ""){
            toastr.error("请填写类型名称");
            return false;
        }
        let storeTypeDescribe = $("#storeType_describe").val();
        let icon = $(".fa-hover-click").children().attr("class");
        let header = $("meta[name='_csrf_header']").attr("content");
        let token =$("meta[name='_csrf']").attr("content");
        let json = {"typeName":typeName, "description":storeTypeDescribe,"icon":icon,"articleType":1};
        $.ajax({
            type: 'post',
            url: url,
            dataType:"json",
            data: JSON.stringify(json),
            cache: false,
            async: false,
            beforeSend : function(xhr) {
                xhr.setRequestHeader(header, token);
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            },
            success: function (data) {
                Initialization();
                $('#exampleTableEvents').bootstrapTable(('refresh'));
                $("#articleModal").modal("hide");
            }
        });
    })

    //点击选择图标模态
    $("#inconButton").on("click",function(){
        $("#inconModeal").show();
    })

    //点击图标选择的
    $(".fa-hover").on("click",function(){
        $(".fa-hover").children().removeAttr("class");
        $(this).children().attr("class"," fa-hover-click");
    })

    //初始化方法
    function Initialization(){
        debugger;
        $("#storeType_name").val("");
        $("#storeType_describe").val("");
        $("#inconModeal").hide();
        $(".fa-hover").children().removeAttr("class");
    }


</script>
</body>

</html>