<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<link href="https://cdn.bootcss.com/switchery/0.8.2/switchery.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/cropper/0.7.6/cropper.min.css" rel="stylesheet">
<link th:href="@{/css/plugins/chosen/chosen.css}" rel="stylesheet"/>
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<style>
    .image-crop{
        height: 60% !important;
    }

</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-title  back-change">
                <h5> 文章列表 / 编辑文章</h5>
            <div class="ibox-content" >
                <h4>选择文章分类</h4>
                <div class="form-group">
                    <div class="input-group">
                        <select data-placeholder="请选择文章类型" id="article-type-chosen" style="width:350px;" tabindex="2" >
                            <option value="">请选择文章类型</option>
                            <option  th:each="articleType,articleTypeStat : ${articleTypes}" th:value="${articleType.typeId}" th:text="${articleType.typeName}" hassubinfo="true"></option>
                        </select>
                    </div>
                </div>
                <h4>添加标签</h4>
                <div class="form-group">
                    <div class="input-group">
                        <select data-placeholder="选择标签，可按回车键添加"  id="label-select" class="chosen-select" multiple style="width:350px;" tabindex="4">
                            <option  th:each="label,albelStat : ${allArticleLabel}" th:value="${label.labelId}" th:text="${label.labelName}" hassubinfo="true"></option>
                        </select>
                    </div>
                </div>
                <h4>是否置顶</h4>
                <input type="checkbox" class="is-top"  />
                <h4>是否开启评论</h4>
                <input type="checkbox" class="is-comment" checked />
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-5">
                        <h4>上传封面：</h4>
                        <div class="img-preview img-preview-sm"></div>
                        <h4>说明：</h4>
                        <p>
                            你可以不上传图片封面，默认会显示空白
                        </p>
                        <div class="btn-group">
                            <label title="上传图片" for="inputImage" class="btn btn-primary">
                                <input type="file" accept="image/*" name="file" id="inputImage" class="hide"> 上传新图片
                            </label>
                        </div>
                        <div class="btn-group btn-tools">
                            <button class="btn btn-white" id="zoomIn" type="button">放大</button>
                            <button class="btn btn-white" id="zoomOut" type="button">缩小</button>
                            <button class="btn btn-white" id="rotateLeft" type="button">左旋转</button>
                            <button class="btn btn-white" id="rotateRight" type="button">右旋转</button>
                            <button class="btn btn-warning" id="setDrag" type="button">裁剪</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="image-crop">
                            <img id="article-img" th:src="@{/img/img-blank.png}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox-content" >
                <div class="">
                    <button type="button" class="btn btn-warning cancelBtn">取消</button>
                    <button type="button" class="btn btn-info tempSubmit">保存草稿</button>
                    <button type="button" class="btn btn-success saveSubmit">发布</button>
                </div>
            </div>

        </div>
    </div>
</div>
</div>


<head th:include="include :: footer"></head>
<script src="https://cdn.bootcss.com/switchery/0.8.2/switchery.min.js"></script>
<script src="https://cdn.bootcss.com/cropper/4.1.0/cropper.min.js"></script>
<script src="https://cdn.bootcss.com/chosen/1.1.0/chosen.jquery.min.js"></script>
<script th:inline="javascript">

    $(document).ready(function () {
        $.TOP = [[${article.isTop}]];
        $.COMMENT = [[${article.isComment}]];
        let imgUrl = [[${article.coverImage}]];
        let articleToLabels = [[${articleToLabels}]];
        //初始化类型
        $("#article-type-chosen").val([[${article.articleTypeId}]]);
        $('#article-type-chosen').trigger("chosen:updated");
        //初始化图片
        if (imgUrl !== null){
            $("#article-img").attr("src",imgUrl)
        }
        //初始化已选标签
        if(articleToLabels !== null){
            $("#label-select").val(articleToLabels.toString().split(","));
            $('#label-select').trigger("chosen:updated");
        }

        let top = document.querySelector('.is-top');
        let comment = document.querySelector('.is-comment');
        let topSwitchery = new Switchery(top, {color: '#1AB394'});
        let commentSwitchery = new Switchery(comment, {color: '#1AB394'});
        //初始化开关
        switchStatus(topSwitchery,$.TOP);
        switchStatus(commentSwitchery,$.COMMENT);

        top.onchange = function() {
           $.TOP = top.checked ? 1:0;
        };
        comment.onchange = function() {
            $.COMMENT = comment.checked ? 1:0;
        };

        //图片上传控件
        let $image = $(".image-crop > img")
        $($image).cropper({
            aspectRatio: 1.618,
            preview: ".img-preview",
            done: function (data) {
                // 输出结果
            }
        });

        var $inputImage = $("#inputImage");
        if (window.FileReader) {
            $inputImage.change(function () {
                var fileReader = new FileReader(),
                    files = this.files,
                    file;

                if (!files.length) {
                    return;
                }

                file = files[0];
                if (/^image\/\w+$/.test(file.type)) {
                    $(".image-crop").show();
                    $(".btn-tools").show();
                    fileReader.readAsDataURL(file);
                    fileReader.onload = function () {
                        $inputImage.val("");
                        $image.cropper("reset", true).cropper("replace", this.result);
                    };
                } else {
                    toastr.warning("请选择图片文件");
                }
            });
        } else {
            $inputImage.addClass("hide");
        }


        $("#zoomIn").click(function () {
            $image.cropper("zoom", 0.1);
        });

        $("#zoomOut").click(function () {
            $image.cropper("zoom", -0.1);
        });

        $("#rotateLeft").click(function () {
            $image.cropper("rotate", 45);
        });

        $("#rotateRight").click(function () {
            $image.cropper("rotate", -45);
        });

        $("#setDrag").click(function () {
            $image.cropper("setDragMode", "crop");
        });

        $(".image-crop").hide();
        $(".btn-tools").hide();

        $("#article-type-chosen").chosen({
            disable_search:false,disable_search_threshold:5, search_contains:true, no_results_text:'查找不到相应分类'
        });

        $("#label-select").chosen({
            disable_search:false,disable_search_threshold:10, search_contains:true, no_results_text:'查找不到相应标签，按回车键进行添加'
        });

        //回车添加标签
       $(".input-group").keydown(function(event) {
            if (event.keyCode == 13) {
                var t = $(".search-field").children(":first").val();
                if (t && t!=""){
                    let bq = "<option value=\""+t+"\" hassubinfo=\"true\" selected>"+t+"</option>";
                    $(".chosen-select").append(bq);
                    $('.chosen-select').trigger("chosen:updated");
                }
            }
        })
    });

    function  switchStatus(event,status){
        if(status == 0){
            event.element.checked = false;
            event.setPosition();
        }else{
            event.element.checked = true;
            event.setPosition();
        }

    }

    $(".saveSubmit").on("click", function() {
        saveArticle(1);
    });

    $(".tempSubmit").on("click", function() {
        saveArticle(0);
    });

    $(".cancelBtn").on("click", function() {
        window.location.href = ctx+"article/toArticleList";
    });




    //保存文章
    function saveArticle(status){
        let articleId = [[${article.articleId}]];
        let articleType = $("#article-type-chosen").val();
        let labelSelect = "";
        if ($("#label-select").val() != null){
            labelSelect = $("#label-select").val().toString();
        }
        if (articleType == ""){
            toastr.warning("请选择文章类型");
        }
        let fileDate = $("#article-img")[0].currentSrc;
        if (fileDate.indexOf("img-blank") == -1){
            let data = $("#article-img").cropper('getCroppedCanvas', { width:300, height:180 });
            fileDate = data.toDataURL('base64'); // 转换为base64
        }
        let jsonContent ={"articleId":articleId,"articleTypeId":articleType,"labelIds":labelSelect,"coverImage":fileDate,"status":status}
        let url = ctx+"article/completeArticle";
        $.ajax({
            url: url,
            type: 'post',
            data: JSON.stringify(jsonContent),
            processData: false,
            contentType: false,
            dataType: 'json',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            },
            success: function (msg) {
                if(msg.code == 200){
                    window.location.href = ctx+"article/toArticleList";
                }
            }
        });




    }

</script>

</body>
</html>
