<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timeblog.framework.mapper.ArticleMapper">

    <resultMap type="com.timeblog.business.domain.Article" id="TimeArticleMap">
        <result property="articleId" column="article_id" jdbcType="INTEGER"/>
        <result property="articleTitle" column="article_title" jdbcType="VARCHAR"/>
        <result property="articleContextHtml" column="article_contextHtml" jdbcType="OTHER"/>
        <result property="articleContextMd" column="article_contextMd" jdbcType="OTHER"/>
        <result property="coverImage" column="cover_image" jdbcType="VARCHAR"/>
        <result property="articleIntroduction" column="article_introduction" jdbcType="VARCHAR"/>
        <result property="isComment" column="isComment" jdbcType="INTEGER"/>
        <result property="isOriginal" column="isOriginal" jdbcType="INTEGER"/>
        <result property="articleTypeId" column="article_type_id" jdbcType="INTEGER"/>
        <result property="isTop" column="isTop" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>


    <resultMap type="com.timeblog.business.domain.Article" id="TimeArticleLabelMap">
        <result property="articleId" column="article_id" jdbcType="INTEGER"/>
        <result property="articleTitle" column="article_title" jdbcType="VARCHAR"/>
        <result property="articleContextHtml" column="article_contextHtml" jdbcType="OTHER"/>
        <result property="articleContextMd" column="article_contextMd" jdbcType="OTHER"/>
        <result property="coverImage" column="cover_image" jdbcType="VARCHAR"/>
        <result property="articleIntroduction" column="article_introduction" jdbcType="VARCHAR"/>
        <result property="isComment" column="isComment" jdbcType="INTEGER"/>
        <result property="isOriginal" column="isOriginal" jdbcType="INTEGER"/>
        <result property="articleTypeId" column="article_type_id" jdbcType="INTEGER"/>
        <result property="isTop" column="isTop" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <collection property="labelList"  ofType="com.timeblog.business.domain.Label" >
            <id column="label_id" property="labelId" jdbcType="INTEGER"/>
            <result column="label_name" property="labelName"  jdbcType="VARCHAR"/>
        </collection>
    </resultMap>



    <!-- 声明sql片段 -->
    <sql id="articleFields">
	      ta.article_id ,article_title,  ta.cover_image,  ta.isOriginal, ta.isTop ,ta.update_time
    </sql>



    <!--查询单个-->
    <select id="queryById" resultMap="TimeArticleMap">
        select
          article_id, article_title, article_contextHtml, article_contextMd, cover_image, isComment, isOriginal, isTop, status ,update_time ,create_time,article_type_id
        from timeblog.time_article
        where article_id = #{articleId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TimeArticleMap">
        select
          article_id, article_title,  cover_image, isComment, isOriginal, isTop, status ,update_time ,create_time,article_type_id,article_introduction
        from timeblog.time_article
        limit #{offset}, #{limit}
    </select>



    <!--查询指定行数据-->
    <select id="queryAllByTypeAndLimit" resultMap="TimeArticleMap">
        select
          article_id, article_title, cover_image, isComment, isOriginal, isTop, status ,update_time ,create_time,article_type_id
        from timeblog.time_article where article_type_id = #{articleTypeId}
        limit #{offset}, #{limit}
    </select>



    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TimeArticleMap">
        select
        article_id, article_title, cover_image, isComment, isOriginal, isTop, status ,update_time , create_time,article_type_id
        from timeblog.time_article
        where status != -1
        <if test="retrieve != null and retrieve != '' ">
            and article_title = like CONCAT('%',#{retrieve},'%')
        </if>
        order by isTop desc , status asc , update_time desc
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAllFormal" resultMap="TimeArticleLabelMap">
        SELECT <include refid="articleFields"></include>,tl.* FROM time_article ta
        left JOIN time_article_label tal ON ta.article_id  = tal.article_id
        left JOIN time_label tl ON tal.label_id = tl.label_id
        where ta.status = 1
        <if test="retrieve != null and retrieve != '' ">
            and ta.article_title  like CONCAT('%',#{retrieve},'%')
        </if>
        order by isTop desc  , update_time desc
    </select>




    <!--新增所有列-->
    <insert id="insert" keyProperty="articleId" useGeneratedKeys="true" >
        insert into timeblog.time_article(article_title, article_contextHtml, article_contextMd, cover_image, isComment, isOriginal, isTop, status ,create_time ,update_time,article_type_id)
        values (#{articleTitle}, #{articleContextHtml}, #{articleContextMd}, #{coverImage}, #{isComment}, #{isOriginal}, #{isTop}, #{status},#{createTime},#{updateTime},#{articleTypeId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update timeblog.time_article
        <set>
            <if test="articleTitle != null and articleTitle != ''">
                article_title = #{articleTitle},
            </if>
            <if test="articleContextHtml != null">
                article_contextHtml = #{articleContextHtml},
            </if>
            <if test="articleContextMd != null">
                article_contextMd = #{articleContextMd},
            </if>
            <if test="coverImage != null and coverImage != ''">
                cover_image = #{coverImage},
            </if>
            <if test="isComment != null">
                isComment = #{isComment},
            </if>
            <if test="isOriginal != null">
                isOriginal = #{isOriginal},
            </if>
            <if test="isTop != null">
                isTop = #{isTop},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="articleTypeId != null">
                article_type_id = #{articleTypeId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where article_id = #{articleId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from timeblog.time_article where article_id = #{articleId}
    </delete>


    <!--通过实体作为筛选条件查询-->
    <select id="queryCount"  resultType="java.lang.Integer">
        select count(1) from  timeblog.time_article
    </select>

    <!--    批量删除-->
    <delete id="deleteByArticleIds">
        delete from timeblog.time_article where article_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


</mapper>
