<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timeblog.framework.mapper.ArticleTypeMapper">

    <resultMap type="com.timeblog.business.domain.ArticleType" id="TimeArticleTypeMap">
        <result property="typeId" column="type_id" jdbcType="INTEGER"/>
        <result property="typeName" column="type_name" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="isAvailable" column="isAvailable" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TimeArticleTypeMap">
        select
            type_id, type_name, sort, icon, isAvailable, description
        from timeblog.time_article_type
        where type_id = #{typeId}
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TimeArticleTypeMap">
        select  type_id, type_name, sort, icon, isAvailable, description
        from timeblog.time_article_type
        <where>
            <if test="retrieve != null">
                and type_name = #{retrieve}
            </if>
        </where>
    </select>


    <!--新增所有列-->
    <insert id="insert" keyProperty="typeId" useGeneratedKeys="true">
        insert into timeblog.time_article_type(type_name, sort, icon, isAvailable, description)
        values (#{typeName}, #{sort}, #{icon}, #{isAvailable}, #{description})
    </insert>


    <!--通过主键删除-->
    <delete id="deleteById">
        delete from timeblog.time_article_type where type_id = #{typeId}
    </delete>


    <!--通过主键修改数据-->
    <update id="update">
        update timeblog.time_article_type
        <set>
            <if test="typeName != null and typeName != ''">
                type_name = #{typeName},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="icon != null and icon != ''">
                icon = #{icon},
            </if>
            <if test="isavailable != null">
                isAvailable = #{isavailable},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
        </set>
        where type_id = #{typeId}
    </update>


</mapper>