<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timeblog.framework.mapper.ArticleTypeMapper">

    <resultMap type="com.timeblog.business.domain.ArticleType" id="TimeArticleTypeMap">
        <result property="typeId" column="type_id" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="typeName" column="type_name" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="isAvailable" column="isAvailable" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="articleNum" column="articleNum" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TimeArticleTypeMap">
        select
            type_id,parentId, type_name, sort, icon, isAvailable, description
        from timeblog.time_article_type
        where type_id = #{typeId}
    </select>

    <!--查询单个-->
    <select id="queryByParentId" resultMap="TimeArticleTypeMap">
        select
            type_id , parent_id , type_name, sort, icon, isAvailable, description
        from timeblog.time_article_type
        where parent_id = #{parentId}
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TimeArticleTypeMap">
        select  type_id, parent_id, type_name, sort, icon, isAvailable, description
        from timeblog.time_article_type
        where  parent_id = -1
        <if test="retrieve != null and retrieve != '' ">
            and type_name like CONCAT('%',#{retrieve},'%')
        </if>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="queryAllTimeArticleTypes" resultMap="TimeArticleTypeMap">
            SELECT *,( SELECT COUNT(1) FROM time_article tm WHERE tm.article_type_id = tmy.type_id and tm.status = 1 ) as articleNum FROM time_article_type tmy
    </select>






    <!--新增所有列-->
    <insert id="insert" keyProperty="typeId" useGeneratedKeys="true">
        insert into timeblog.time_article_type(parent_id,type_name, sort, icon, isAvailable, description)
        values (#{parentId},#{typeName}, #{sort}, #{icon}, #{isAvailable}, #{description})
    </insert>


    <!--通过主键删除-->
    <delete id="deleteById" >
        delete from timeblog.time_article_type
         where type_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!--通过主键修改数据-->
    <update id="update" >
        update timeblog.time_article_type
        <set>
            <if test="parentId != null and parentId != ''">
                parent_id = #{parentId},
            </if>
            <if test="typeName != null and typeName != ''">
                type_name = #{typeName},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="icon != null and icon != ''">
                icon = #{icon},
            </if>
            <if test="isAvailable != null">
                isAvailable = #{isAvailable},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
        </set>
        where type_id = #{typeId}
    </update>



    <!--cc-->
    <select id="queryNotParentNode" resultMap="TimeArticleTypeMap">
           SELECT t3.* FROM time_article_type t3 WHERE t3.type_id NOT IN (
                SELECT t1.type_id FROM time_article_type t1 JOIN time_article_type t2 ON t1.type_id = t2.parent_id
                    GROUP BY t1.type_id
                )
    </select>







</mapper>
