<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timeblog.framework.mapper.LabelMapper">

    <resultMap type="com.timeblog.business.domain.Label" id="TimeLabelMap">
        <result property="labelId" column="label_id" jdbcType="INTEGER"/>
        <result property="labelName" column="label_name" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TimeLabelMap">
        select
          label_id, label_name
        from timeblog.time_label
        where label_id = #{labelId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TimeLabelMap">
        select
          label_id, label_name
        from timeblog.time_label
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TimeLabelMap">
        select
        label_id, label_name
        from timeblog.time_label
        <where>
            <if test="labelId != null">
                and label_id = #{labelId}
            </if>
            <if test="labelName != null and labelName != ''">
                and label_name = #{labelName}
            </if>
        </where>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="queryLabelsByArticleId" resultMap="TimeLabelMap">
        select t.* , tl.article_id from time_label t join time_article_label tl on t.label_id = tl.label_id
        and tl.article_id = #{articleId}
    </select>


    <!--新增所有列-->
    <insert id="insert" keyProperty="labelId" useGeneratedKeys="true">
        insert into timeblog.time_label(label_name)
        values (#{labelName})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update timeblog.time_label
        <set>
            <if test="labelName != null and labelName != ''">
                label_name = #{labelName},
            </if>
        </set>
        where label_id = #{labelId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from timeblog.time_label where label_id = #{labelId}
    </delete>

</mapper>